<div class="mw-100 container" id="generalContainer">
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <div class="previousPageButton">
        <button (click)="redirectToPreviousPage()" class="btn btn-outline-info btn-sm" type="button">Previous Page
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <img class="card-img-top" src="{{user.avatar}}">
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}}  {{user.last_name}}</h5>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
