<div class="container mw-100" id="generalContainer">
  <div class="row">
    <div class="col-12">
      <h2>Register User</h2>
    </div>
  </div>
  <br>
  <form (ngSubmit)="onSubmit()" [formGroup]="userRegistrationForm">
    <div class="row" formGroupName="fullname">
      <div class="col-6">
        <div class="form-group">
          <input class="form-control" formControlName="first_name" placeholder="First Name" type="text">
          <!--          <div style="color: red" *ngIf="fullname?.get('first_name')?.touched">This was touched</div>-->
          <!--<div style="color: red" *ngIf="fullname?.get('first_name')?.invalid
          && fullname?.get('first_name')?.touched">
            This field is required
          </div>-->
          <div *ngIf="fullname?.get('first_name')?.hasError('required')
          && fullname?.get('first_name')?.touched" style="color: red">
            This field is required
          </div>
          <div *ngIf="fullname?.get('first_name')?.hasError('pattern')
          && fullname?.get('first_name')?.touched" style="color: red">
            Numbers and symbols are not allowed
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input class="form-control" formControlName="last_name" placeholder="Last Name" type="text">
          <div *ngIf="fullname?.get('last_name')?.hasError('required')
          && fullname?.get('last_name')?.touched" style="color: red">
            This field is required
          </div>
          <div *ngIf="fullname?.get('last_name')?.hasError('pattern')
          && fullname?.get('last_name')?.touched" style="color: red">
            Numbers and symbols are not allowed
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <input class="form-control" formControlName="email" placeholder="Email" type="text">
          <div *ngIf="email?.hasError('required') && email?.touched" style="color: red">
            This field is required
          </div>
          <div *ngIf="email?.hasError('email') && email?.touched" style="color: red">
            Not an email
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <select class="form-select" formControlName="region">
          <option *ngFor="let region of regions">{{region}}</option>
        </select>
        <div *ngIf="region?.hasError('required') && region?.touched" style="color: red">
          This field is required
        </div>
        <div *ngIf="region?.hasError('regionProperValue') && region?.touched" style="color: red">
          Please select a proper region
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12" style="text-align: left">
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="gender" id="male" type="radio" value="male">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="gender" id="female" type="radio" value="female">
          <label class="form-check-label" for="male">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="gender" id="other" type="radio" value="other">
          <label class="form-check-label" for="male">Other</label>
        </div>
      </div>
      <div *ngIf="gender?.hasError('required') && gender?.touched" style="color: red">
        This field is required
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12" style="text-align: left">
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="receiveEmails" id="receiveEmails" type="checkbox">
          <label class="form-check-label" for="receiveEmails">Receive Emails</label>
        </div>
      </div>
    </div>
    <span *ngFor="let telephoneNumber of telephoneNumbers.controls; let i=index" formArrayName="telephoneNumbers">
      <br>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input class="form-control" formControlName="{{i}}" placeholder="Telephone Number" type="text">
            <div *ngIf="telephoneNumberAt(i)?.hasError('required') && telephoneNumberAt(i)?.touched" style="color: red">
            This field is required
          </div>
          </div>
        </div>
        <div *ngIf="i > 0" class="col-1">
          <div class="form-group">
            <button (click)="removeTelephoneNumber(i)" class="btn btn-danger" type="button">Remove</button>
          </div>
        </div>
      </div>
    </span>
    <br>
    <div class="row">
      <div class="col-12" style="text-align: right">
        <button (click)="addTelephoneNumber()" class="btn btn-outline-success" type="button">Add Telephone Number
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-11" style="text-align: right">
        <button (click)="setExampleValues()" class="btn btn-outline-info" type="button">Example</button>
      </div>
      <div class="col-1" style="text-align: right">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
